</main>

<footer>

    <% const currentDate = new Date();
    const currentYear = currentDate.getFullYear();%>
    
     Dimitris Papazafeiris © <%= currentYear %> 
</footer>

</body>
  
</html>